table {
  width: 100%;
    border-collapse: separate;
    border-spacing: 1px 20px;
}

tr {
  width: 100%;
}

thead > tr {
  color: #ffffff;
  background: #2196f3;
}

tbody > tr {
  cursor: pointer;
  outline: none;
}

td {
  padding: 18px 23px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

td:first-child {
  padding-left: 30px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

td:last-child {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 30%;
}

td:nth-child(2) {
  width: 60%;
}

.sort-btn {
  cursor: pointer;
  outline: none;
}
